h6 {
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  margin-top: 30px;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
}

.breadcrumb.footer {
  margin-top: 100px;
}

.breadcrumb.footer li {
  color: #ccc;
}

.col-sm-2 {
  padding-left: 0;
  padding-right: 0;
}

.navbar-default {
  position: fixed;
  background-color: #efefef;
  width: 100%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #ccc;
  color: #444;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #444;
}

.navbar-static-top {
  border-width: 0 0 1px;
}

.navbar-default .navbar-brand {
  background: url(../images/apple-touch-icon-114x114.png) left center no-repeat;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background-size: 100%;
  margin-right: 50px;
}

.navbar-default .navbar-nav>li>a {
  color: #444;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-toggle {
  border-color: #ccc;
}

.navbar-default .navbar-toggle:hover {
  background-color: #efefef;
}

.navbar-default .navbar-nav > .active > a {
  background-color: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #444;
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #444;
}

#content {
  padding: 60px 0px;
}

/* header style */
.activity,
#calendar,
#library,
#fitness,
#progress {
  border-bottom: 5px solid #efefef;
  margin-bottom: 10px;
}

#library .activity_info_warning,
#library .activity_info_raceprep,
#library .activity_info_racewarmup,
#library .activity_info_maintenance {
  display: none;
}

#workout h1{
  color: #3CBBAF;
  border-top: 10px solid #EA7FC8;
}

#workout h4 {
  text-transform: uppercase;
}

.activity span {
  text-transform: uppercase;
}

.label.label-off {
  color: #444;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#schedules tr,
#workout .activity,
#profile {
  display: none;
}

#fitness {
  padding-bottom: 10px;
}

.int h3,
.int h4,
.int h5,
.int h6 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #efefef;
}

.int h3 {
  font: 200 30px/33px sans-serif;
}

.int h4,
.int h5 {
  font: 100 10px/13px sans-serif;
}

.int h6 {
  font: 200 10px/13px sans-serif;
}

.int {
  width: 12.3%;
  height: 12.3%;
  background: #222;
  float: left;
  padding: 20px;
  margin: 0px 0.1% 0px 0px;
}

  .int.on h5 {
    color: #A7FF92;
  }

  .int.off h5 {
    color: #FF7F7F;
  }

  .int.rest h5 {
    color: #3ea6e0;
  }

  .int h6 {
    color: #fffcab;
  }

.datepicker table, .datepicker-inline {
  width: 100%;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

#library_filter {
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-bottom: 5px;
}

@media only screen and (max-width: 767px) {

  .navbar-default .navbar-brand {
    margin-left: 45%;
  }

  #breadcrumb,
  #progress {
    display: none;
  }
}
