h6 {
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  margin-top: 30px;
}

.breadcrumb.footer {
  margin-top: 100px;
}

.breadcrumb.footer li {
  color: #ccc;
}

.col-sm-2 {
  padding-left: 0;
  padding-right: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #35A497;
  color: #256E64;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #256E64;
}

.navbar-default {
  background-color: #3CBBAF;
  border-color: pink;
}

.navbar-static-top {
  border-width: 0 0 10px;
}

.navbar-default .navbar-brand {
  background: url(../images/logo.png) left center no-repeat;
  text-indent: -9999px;
  width: 208px;
  height: 50px;
  background-size: 50%;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-toggle {
  border-color: #35A497;
}

.navbar-default .navbar-toggle:hover {
  background-color: #efefef;
}

.navbar-default .navbar-nav > .active > a {
  background-color: none;
  font-weight: bold;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #35A497;
}

.upload_button {
  padding-top: 10px;
}

  .upload_button button {
    background-color: pink;
    border-color: pink;
  }

    .upload_button button:hover {
      background-color: #D998A6;
      border-color: #D998A6;
    }


/* header style */
.activity,
#calendar,
#library,
#fitness {
  border-bottom: 5px solid #efefef;
  margin-bottom: 10px;
}

#library .activity_info_warning,
#library .activity_info_raceprep,
#library .activity_info_racewarmup,
#library .activity_info_maintenance {
  display: none;
}

#workout h1{
  color: #3CBBAF;
  border-top: 10px solid #EA7FC8;
}

.label.label-off {
  color: #444;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#powerbests,
#schedules tr,
#workout .activity,
#profile {
  display: none;
}

#fitness {
  padding-bottom: 10px;
}

.int h3,
.int h4,
.int h5,
.int h6 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #efefef;
}

.int h3 {
  font: 200 30px/33px sans-serif;
}

.int h4,
.int h5 {
  font: 100 10px/13px sans-serif;
}

.int h6 {
  font: 200 10px/13px sans-serif;
}

.int {
  width: 12.3%;
  height: 12.3%;
  background: #222;
  float: left;
  padding: 20px;
  margin: 0px 0.1% 0px 0px;
}

  .int.on h5 {
    color: #A7FF92;
  }

  .int.off h5 {
    color: #FF7F7F;
  }

  .int.rest h5 {
    color: #3ea6e0;
  }

  .int h6 {
    color: #fffcab;
  }

.datepicker table, .datepicker-inline {
  width: 100%;
}

.bottle_top {
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
}

.bottle_mid, .bottle_bot {
  background-color: #efefef;
  margin-left: auto;
  margin-right: auto;
}

.bottle_top.mouth {
  width: 50px;
  height: 25px;
  margin-left: auto;
}

.bottle_top.cap {
  width: 200px;
  height: 40px;
}

.bottle_mid.initial {
  width: 200px;
  height: 75px;
}

.bottle_mid.transition {
  width: 150px;
  height: 20px;
}

.bottle_mid {
  width: 200px;
  text-align: center;
  font: 200 20px/100px "Helvetica Neue";
}

  .bottle_mid.content_one {
    background-color: red;
  }

  .bottle_mid.content_two {
    background-color: green;
  }

  .bottle_mid.content_three {
    background-color: blue;
  }


.bottle_bot {
  height: 5px;
  width: 150px;
  background-color: #444;
}
