body {
  background: #fff;
  color: #fff;
}

.splash .container {
  background: #42B9AF;
  padding: 0;
}

.container.top_image {
  background: url(../images/mkt/top_img.jpg) top center no-repeat;
}

.navbar-default {
  background-color: transparent;
  border: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-brand {
  background-position: center center;
}

.navbar-right {
  margin-right: 40px;
}

.intro .row {
  color: #fff;
  padding: 75px 150px 95px 150px;
}

  .intro h2 {
    font-size: 80px;
    font-weight: 100;
  }

  .intro h4 {
    font-weight: 200;
    line-height: 30px;
    font-size: 24px;
  }

  .intro .btn-default,
  .pricing .btn-default {
    background-color: transparent;
    border: 3px solid #FFD6E3;
    color: #FFD6E3;
    font-size: 24px;
    margin-top: 20px;
  }

.container.explanation {
    padding: 100px 150px 150px 150px;
    background-color: #4AD2C1;
}

  .explanation .col-sm-4,
  .screens .col-sm-4 {
    text-align: center;
  }

  .explanation h3,
  .explanation p {
    text-align: left;
    font-weight: normal;
  }

  .explanation .glyphicon-calendar,
  .explanation .glyphicon-cloud-upload,
  .explanation .glyphicon-flash {
    font-size: 150px;
  }

  .explanation h2 {
    font-size: 60px;
    font-weight: 100;
  }

  .explanation h4 {
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 20px;
  }

.container.screens {
  padding: 100px 150px 150px 150px;
  background-color: #fafafa;
}

  .screens h2 {
    font-size: 60px;
    font-weight: 100;
    color: #444;
  }

  .screens h4 {
    color: #666;
    font-weight: 200;
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 20px;
  }

.label-default {
  background: #FFD6E3;
  color: #D696A3;
}

.container.pricing {
  padding: 100px 150px 150px 150px;
  background-color: #222;
}

  .pricing h2 {
    font-size: 60px;
    font-weight: 100;
    color: #444;
  }

  .pricing h3 {
    font-weight: 200;
    font-size: 52px;
  }

  .pricing h4 {
    color: #666;
    font-weight: 200;
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .pricing ul li {
    font-size: 20px;
    list-style-type: none;
    font-weight: 200;
  }

  .pricing .col-sm-6 {
    background-color: #444;
    height: 300px;
    width: 400px;
    margin: 0px 10px;
  }

.container.footer {
  background-color: #000;
  text-align: center;
  line-height: 40px;
  color: #444;
}
