h1 {
  margin-top: 0;
}

h6 {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 200;
}

.container {
  padding: 0px 20px;
  box-sizing: border-box;
}

/* header style */
.activity,
#calendar,
#library {
  border-bottom: 5px solid #efefef;
  margin-bottom: 10px;
}

#workout h1{
  color: #3CBBAF;
  border-top: 10px solid #EA7FC8;
}

.label.label-off {
  color: #444;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#powerbests,
#schedules tr,
#workout .activity,
#workout_library,
#homescreen_note {
  display: none;
}

/* this appears when the app hasn't been loaded in straight safari */
#homescreen_note {
  height: 100%;
  padding: 20px;
  font: normal 14px/17px "Open Sans", sans-serif;
}

#homescreen_bottom {
  position: absolute;
  bottom: 10px;
  color: #444;
}

  #homescreen_bottom p {
    font-size: 18px;
    text-align: center;
  }