

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

h1 {
  font-size: 24px;
}

  h1 small {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 14px;
  }

h3 {
  font-size: 18px;
}

/* season colors */
tr.sharpen td, .label-sharpen {
  background-color: #E2DF91;
}

tr.racing, .label-racing {
  background-color: #ACE2A7;
}

tr.peak, .label-peak {
  background-color: #E2B3AF;
}

tr.base, .label-base {
  background-color: #CBDFE8;
}

tr.offseason, .label-offseason {
  background-color: #DAE2E2;
}

#schedules {
  text-transform: uppercase;
  font-size: 11px;
  color: #000;
}

  #schedules tr, #workout .activity {
    display: none;
  }

  #workout .activity h2 {
    font-size: 14px;
    text-transform: uppercase;
  }

  #workout .activity h6 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 0;
  }

#powerclass {
  font-size: 10px;
}

  #powerclass td {
    line-height: 0px;
  }

#powerbests {
  display: none;
}